
[x-cloak] { display: none !important; } /* Evita parpadeos de Alpine al cargar */

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
}

/*Colocar solo aspectos globales, no personalizaciones específicas de componentes o páginas*/